/*
Custom Css
*/

/*

  /* General */
.text-success {
    color: #d72636 !important;
}

.bg-success {
    background-color: #d72636 !important;
}

.btn-success {
    background-color: #d72636 !important;
    border-color: #d72636 !important;
}

.pagination .page-link:hover {
    color: #000;
}

.pagination .page-link:hover,
.pagination .page-link.active {
    background-color: #d72636;
    color: #fff;
}

/* Nav */
#templatemo_main_nav a:hover {
    color: #d72636;
}

/* Shop */
.shop-top-menu a:hover {
    color: #d72636 !important;
}

/* Product */
.product-wap .product-color-dot.color-dot-green {
    background: #d72636;
}

/* Carousel Hero */
#template-mo-zay-hero-carousel .carousel-indicators li {
    margin-top: -50px;
    background-color: #d72636;
}

#template-mo-zay-hero-carousel .carousel-control-next i,
#template-mo-zay-hero-carousel .carousel-control-prev i {
    color: #d72636 !important;
    font-size: 2.8em !important;
}

/* Carousel Brand */
.services-icon-wap:hover {
    background: #d72636;
}

/* Contact map */
#tempaltemo_footer a:hover {
    color: #d72636;
}